body {
    padding:2%;
}
.widget {
    padding:20px;
    margin: 20px auto;
}

ul.widget-list {
    width:100%;
    border:0px solid black;
    box-sizing: border-box;
    list-style: none;
    margin:0;
    padding:0;
}
ul.widget-list > li.widget-list-row {
    width:100%;
    box-sizing: border-box;
    display:block;
    margin:0;
    padding:0;
    overflow: auto;
}
ul.widget-list > li.widget-list-row:nth-child(even) {
    /*
    background-color:silver;
    */
}
ul.widget-list > li.widget-list-row ul {
    margin:0;
}
ul.widget-list ul {
    list-style: none;
}
ul.widget-list ul li.image-block {
    margin-bottom:10px;
}
.image-block:nth-child(even) {
    /*
    background-color:lightgray;
    */
}
.image-block div.additional-information {
    padding:0 0 5px 25px;
    display:block;
}
.image-block div.additional-information .image-preview {
    max-height: 100px;
    max-width: 100px;
    width:auto;
    display:inline-block;
}
.image-block div.additional-information .image-preview img {
    max-height:100px;
    max-width:100px;
    object-fit: contain;
}
.image-block div.additional-information .file-information {
    margin-left:10px;
    width:calc(100% - 114px);
    display:inline-block;
    vertical-align: top;
}
.image-block > input[type="checkbox"] + label {
    width: 10px;
    height: 10px;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    transform: rotate(-45deg);
    display:inline-block;
    min-height: inherit;
    box-sizing: border-box;
    transition: transform 100ms ease;
}
.image-block > input[type="checkbox"]:checked + label {
    transform: rotate(45deg);
}
.image-block > input[type="checkbox"] {
    display:none;
}
.image-block > input[type="checkbox"] ~ div.additional-information {
    display:none;
}
.image-block > input[type="checkbox"]:checked ~ div.additional-information {
    display: block;
}
.image-block > input[type="checkbox"] ~ p {
    display:inline-block;
    vertical-align: top;
    margin-top:0;
    margin-left:5px;
    width: calc(100% - 19px);
}