/****************************************************
 * custom be.widget.paginate viewhelper
 ****************************************************/
.f3-widget-paginator { display: block; float: left; margin: 10px 0 10px 0; }

.f3-widget-paginator li { font-weight: bold; display: block; min-width: 30px; width:auto; float: left; text-align: center; margin: 0 2px 2px; vertical-align:middle; }

.f3-widget-paginator li.current { border: 1px solid black; }

.f3-widget-paginator a { font-weight: normal; display: block;  border: 1px solid black; padding: 0 3px; }

/****************************************************
 * custom hash.sh1, hash.md5 viewhelper
 ****************************************************/
.qd-widget-hash {
    font-style: italic;
    font-size: smaller;
    text-transform: lowercase;
}
.qd-widget-hash-sha1::before {
    content:'sha1: ';
}
.qd-widget-hash-md5::before {
    content:'md5: ';
}