{namespace q=Qualidev\QdWebp\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Default"/>
    <title>Templates: Index</title>
    <f:section name="main">
        <f:comment>
            <!-- Not used at the moment. But is left for further work -->
        <div>
            <h1>Debug Log</h1>
            <f:format.raw>Path: <br>{settings.defaultPath}</f:format.raw>
            <f:format.raw>{debugOutput}</f:format.raw>
        </div>
        </f:comment>
        <h1><f:translate key="dashboard_name" /></h1>
        <div class="widget widget_upload_images">
            <h2><f:translate key="widget_upload_images" /> (max. <f:format.bytes>{maxUploadFileSize}</f:format.bytes>)</h2>

            <f:form enctype="multipart/form-data" method="post" controller="Biblio" action="add" name="imageupload">
                <f:comment>
                    <!--
                      This is NOT working! form.upload doesn't support multiple="true" yet. Later it was added
                      Review of feature request: https://review.typo3.org/#/c/33194/
                    -->
                    [f:form.upload multiple="true" property="image" /]
                </f:comment>
                <input type="file" name="images[]"  multiple="multiple">
                <f:form.submit value="<f:translate key='widget_upload_images.upload' />" />
            </f:form>
            <ul>
                <f:if condition="{filesystemAccess}">
                    <f:then><li style="color:green"><f:translate key="widget_upload_images.filesystem" /></li></f:then>
                    <f:else><li style="color:red"><f:translate key="widget_upload_images.nfilesystem" /></li></f:else>
                </f:if>
                <f:if condition="{systemAccessEnabled}">
                    <f:then><li style="color:green"><f:translate key="widget_upload_images.shell" /></li></f:then>
                    <f:else><li style="color:red"><f:translate key="widget_upload_images.nshell" /></li></f:else>
                </f:if>
                <f:if condition="{webpSupport}">
                    <f:then><li style="color:green"><f:translate key="widget_upload_images.webpsupport" /></li></f:then>
                    <f:else><li style="color:red"><f:translate key="widget_upload_images.nwebpsupport" /></li></f:else>
                </f:if>
                <f:if condition="{convertSuccess}">
                    <f:then><li style="color:green"><f:translate key="widget_upload_images.convert" /></li></f:then>
                    <f:else><li style="color:red"><f:translate key="widget_upload_images.nconvert" /></li></f:else>
                </f:if>
            </ul>
        </div>
        <div class="widget widget_show_uploaded_images">
            <h2><f:translate key="widget_show_uploaded_images"/></h2>
            <q:be.widget.paginate objects="{groupOfImages}" as="paginatedItems"
                                  configuration="{itemsPerPage: 5, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 4}">
                <ul class="widget-list">
                    <f:for each="{paginatedItems}" as="group">
                        <f:render partial="ImageRow" section="Row" arguments="{group: group}" />
                    </f:for>
                </ul>
            </q:be.widget.paginate>
        </div>
    </f:section>
</div>