{namespace q=Qualidev\QdWebp\ViewHelpers}

<f:section name="Row">
    <li class="widget-list-row">
        <h2>
            [{group.images -> f:count()}
            <f:if condition="{group.images -> f:count()}==1">
                <f:then>
                    <f:translate key="widget_show_uploaded_images.row.image.singular" />]
                </f:then>
                <f:else>
                    <f:translate key="widget_show_uploaded_images.row.image.plural" />]
                </f:else>
            </f:if>
            {group.name}
        </h2>
        <f:render partial="ImageRow" section="ImageList" arguments="{images: group.images}" />
    </li>
</f:section>

<f:section name="ImageList">
    <ul>
        <f:for each="{images}" as="image" key="key">
            <li class="image-block">
                <f:comment>
                    <!-- The following markup (checkbox + label) is used for css only hidden information -->
                </f:comment>
                <input type="checkbox" id="chk-<q:hash.sha1 convert='true' hash='{image.name}' wrap='false' />">
                <label for="chk-<q:hash.sha1 convert='true' hash='{image.name}' wrap='false' />"></label>

                <p>{image.mime} - {image.name}, <q:dimension width="{image.dimensions.width}" height="{image.dimensions.height}" /><br>
                    <q:hash.sha1>{image.sha1}</q:hash.sha1>
                </p>

                <div class="additional-information">
                    <div class="image-preview">
                        <f:if condition="{image.mime}!='image/webp'">
                            <f:then>
                                <f:image src="<f:uri.image src='{image.uri}' />" alt="{image.uri}" />
                            </f:then>
                            <f:else>
                                <span>webp<br>Image<br>Fallback</span>
                            </f:else>
                        </f:if>
                    </div>
                    <div class="file-information">
                        <span><f:translate key="widget_show_uploaded_images.imageList.path" />{image.uri}</span><br>
                        <span><f:translate key="widget_show_uploaded_images.imageList.modificationDate" />{image.filetime_modification -> f:format.date(format: 'd.m.Y H:i:s')} (<f:translate key="widget_show_uploaded_images.imageList.creationDate" />{image.filetime_creation -> f:format.date(format: 'd.m.Y H:i:s')})</span><br>
                        <span><f:translate key="widget_show_uploaded_images.imageList.filesize" /><f:format.bytes>{image.sizeInBytes}</f:format.bytes></span>
                    </div>
                </div>
            </li>
        </f:for>
    </ul>
</f:section>
